<div class="modal fade show d-block">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">
					<img src="./assets/user.png" class="user">Registrar
				</h5>
				<button type="button" class="close" [routerLink]="['/']">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- {{ formRegister.valid }} -->
				<!-- {{ formRegister.value | json }}-->
				<form [formGroup]="formRegister" novalidate>
					<input type="hidden" formControlName="id">
					<zag-ipt-container label="Nome Cliente" errorMessage="Por favor insira um nome">
						<input type="text" formControlName="name" class="form-control" placeholder="Nome Cliente" autocomplete="off">
					</zag-ipt-container>
					<div class="form-row">
						<div class="col-md-6">
							<zag-ipt-container label="Limite de credito" errorMessage="Por favor insira um limite">
								<input type="text" formControlName="limit" class="form-control" placeholder="R$" autocomplete="off">
							</zag-ipt-container>
						</div>
						<div class="col-md-6">
							<zag-ipt-container label="Risco" errorMessage="Por favor selecione o risco">
								<select class="form-control" formControlName="riskId">
									<option value="" disabled selected>Selecione...</option>
									<option *ngFor="let risk of risks" [ngValue]="risk.id">{{risk.name}}</option>
								</select>
							</zag-ipt-container>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" [routerLink]="['/']">Fechar</button>
				<button type="button" class="btn btn-primary" [disabled]="!formRegister.valid" (click)="save(formRegister.value)">Registrar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal-backdrop fade show"></div>